:root {
    --P1D1bg: #51EEFC;
}

@font-face {
    font-family: BMSpace;
    src: url(./BMSPA___.TTF);
}

body {
    background-color: black;
    margin: 0;
}

h1, h2 {
    margin: 0;
}

.section {
    margin: 0 auto;
    height: 99vh;
    text-align: left;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

#P1-D1 { 
    font-family: "Red Hat Text", sans-serif;
    font-size: 1.5vw;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-self: center;
    position: relative;
    padding: 1vw;
    padding-left: 3vw;
    padding-right: 2.5vw;
    width: 40vw;
}

#P1-D1::before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--P1D1bg);
    box-shadow: red 11px -7px 0px 8.5px;
    transform: skew(20deg);  
    z-index: -1;
}

#P1-D2 {
    font-family: 'Red Hat Text', sans-serif;
    color: red;
    align-self: center;
    text-align: center;
    position: relative;
    margin-top: 20vh;
}

#P2 {
    border: 1px solid white;
}

.P1-D1 {
    position: relative; /* Ensure the text is above the skewed background */
    z-index: 1; /* Make sure text is above the skewed background */
}

@media only screen and (max-width: 720px) {
    #P1-D1 {
        font-size: 3vw;
        width: 72vw;
        padding-left: 6vw;
    }
  }




